@model RotaMe.Web.InputModels.Owner.Events.EventEditInputModel
@using RotaMe.Web.ViewModels.Owner.Users
@using RotaMe.Web.InputModels.Owner.Events
@using RotaMe.Web.ViewModels.Owner.Events
@using RotaMe.Web.ViewModels.Owner.Projects

@{
    ViewData["Title"] = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var eventDetails = (EventDetailsViewModel)this.ViewData["eventDetails"];
    var needCounter = 0;
}

@section Styles{

    <!-- ekko-lightbox css -->
    <link rel="stylesheet" href="~/assets/css/plugins/ekko-lightbox.css">
    <link rel="stylesheet" href="~/assets/css/plugins/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/plugins/daterangepicker.css"/>
    <link rel="stylesheet" href="~/assets/css/plugins/dataTables.bootstrap4.min.css">
}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <!-- profile header start -->
        <div class="user-profile user-card mb-4">
            <div class="card-body py-0">
                <div class="user-about-block m-0">
                    <div class="row">
                        <div class="col-md-4 text-center mt-n5">
                            <div class="change-profile text-center">
                                <div class="dropdown w-auto d-inline-block">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="profile-dp">
                                            <div class="position-relative d-inline-block">
                                                <img class="img-radius img-fluid wid-100" src="@eventDetails.Image" alt="Project image">
                                            </div>
                                            <div class="overlay">
                                                <span>change</span>
                                            </div>
                                        </div>
                                        <div class="certificated-badge">
                                            <i class="fas fa-certificate text-c-blue bg-icon"></i>
                                            <i class="fas fa-check front-icon text-white"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="change-image" href="#"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-1">@eventDetails.Name</h5>
                        </div>
                        <div class="col-md-8 mt-md-4">
                            <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-reset" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true"><i class="feather icon-file mr-2"></i>Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-reset" id="new-event-need-tab" data-toggle="tab" href="#eventNeedCreate" role="tab" aria-controls="eventNeedCreate" aria-selected="false"><i class="fas fa-calendar-plus mr-2"></i>Create Event Need</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- profile header end -->
        <!-- profile body start -->
        <div class="row">
            <div class="col-md-8 order-md-2">
                <div class="tab-content" id="myTabContent">
                    @*<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        </div>*@
                    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">Event details</h5>
                                <button id="change-details-info" type="button" class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false" aria-controls="pro-det-edit-1 pro-det-edit-2">
                                    <i class="feather icon-edit"></i>
                                </button>
                            </div>
                            <div class="card-body border-top pro-det-edit collapse show" id="pro-det-edit-1">
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bolder">Title</label>
                                        <div class="col-sm-9">
                                            @eventDetails.Name
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bolder">Description</label>
                                        <div class="col-sm-9">
                                            @eventDetails.Description
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body border-top pro-det-edit collapse " id="pro-det-edit-2">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bolder" asp-for="Name"></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" value="@eventDetails.Name" asp-for="Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bolder" asp-for="Description"></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" value="@eventDetails.Description" asp-for="Description">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label font-weight-bolder" asp-for="Image"></label>
                                        <div class="col-sm-9 custom-file">
                                            <input type="file" class="custom-file-input" id="Image" asp-for="Image">
                                            <label class="custom-file-label" asp-for="Image">Choose Image</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="eventNeedCreate" role="tabpanel" aria-labelledby="eventNeedCreate-tab">
                        <partial name="/Areas/Owner/Views/Shared/_CreateEventNeedPartial.cshtml" view-data="ViewData" />
                    </div>

                    <div class="tab-pane fade" id="eventNeedEdit" role="tabpanel" aria-labelledby="eventNeedEdit-tab">
                        <partial name="/Areas/Owner/Views/Shared/_EditEventNeedPartial.cshtml" view-data="ViewData" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 order-md-1">
                <div class="card new-cust-card">
                    <div class="card-header">
                        <h5>Users</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cust-scroll" style="height:415px;position:relative;">
                        <div class="card-body p-b-0">
                            @foreach (var user in eventDetails.Users)
                            {
                                <div class="align-middle m-b-25">
                                    <img src="@user.Avatar" alt="user image" class="img-radius align-top m-r-15">
                                    <div class="d-inline-block">
                                        <a href="/owner/user/details/@user.Id">
                                            <h6>@user.FullName</h6>
                                        </a>
                                        <p class="m-b-0">@user.Username</p>
                                        <span class="status deactive">@user.LastLoggedIn.ToString("MM/dd/yyyy hh:mm")</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card new-cust-card">
                    <div class="card-header">
                        <h5>Event Needs</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cust-scroll" style="height:415px;position:relative;">
                        <div class="card user-profile-list">
                            <div class="card-body p-b-0">
                                <div class="dt-responsive table-responsive">
                                    <table id="need-list-table" class="table nowrap">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Min Users</th>
                                                <th>Max Users</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < eventDetails.EventNeeds.Count(); i++)
                                            {
                                                var eventNeed = eventDetails.EventNeeds[i];
                                                needCounter++;

                                                <tr>
                                                    <td>@needCounter</td>
                                                    <td id='NeedMinUsers_@eventNeed.Id'>
                                                        @eventNeed.MinimalUsers
                                                    </td>
                                                    <td id='NeedMaxUsers_@eventNeed.Id'>
                                                        @eventNeed.MaximumUsers
                                                    </td>
                                                    <td id="NeedDate_@eventNeed.Id">
                                                        @eventNeed.Date
                                                        <div class="overlay-edit">
                                                            <a href="#eventNeedEdit" id="need-@eventNeed.Id" data-toggle="tab" class="edit-event-need-tab btn btn-icon btn-success nav-link text-reset" role="tab" aria-controls="eventNeedEdit" aria-selected="false"><i class="feather icon-edit"></i></a>
                                                            <a href="/owner/events/NeedDetails/@eventNeed.Id" class="btn btn-icon btn-info"><i class="fas fa-info-circle"></i></a>
                                                            <a href="/owner/events/NeedDelete/@eventNeed.Id" class="btn btn-icon btn-danger sweet-multiple-delete-need"><i class="feather icon-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card new-cust-card">
                    <div class="card-header">
                        <h5>Availabilities</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cust-scroll" style="height:415px;position:relative;">
                        <div class="card-body p-b-0">
                            @foreach (var availability in eventDetails.Availabilities)
                            {
                                <div class="align-middle m-b-25">
                                    <div class="d-inline-block">
                                        <div class="status deactive">
                                            <h6>Start Date</h6>
                                            <span class="status deactive">@availability.StartDate.ToString("MM/dd/yyyy hh:mm")</span>
                                        </div>
                                        <div class="status deactive">
                                            <h6>End Date</h6>
                                            <span class="status deactive">@availability.EndDate.ToString("MM/dd/yyyy hh:mm")</span>
                                        </div>
                                        <span class="status deactive">@availability.Assigned</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- profile body end -->
    </div>
</div>
<!-- [ Main Content ] end -->


@section Scripts{
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/plugins/ekko-lightbox.min.js"></script>
    <script src="~/assets/js/plugins/lightbox.min.js"></script>
    <script src="~/assets/js/pages/ac-lightbox.js"></script>
    <script src="~/assets/js/plugins/sweetalert.min.js"></script>
    <script src="~/assets/js/pages/ac-alert.js"></script>
    <!-- datepicker js -->
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <script src="~/assets/js/plugins/daterangepicker.js"></script>
    <script src="~/assets/js/pages/ac-datepicker.js"></script>
    <script src="~/js/EventNeedValuesSetter.js"></script>
    <script>
        // [ customer-scroll ] start
        var px = new PerfectScrollbar('.cust-scroll', {
            wheelSpeed: .5,
            swipeEasing: 0,
            wheelPropagation: 1,
            minScrollbarLength: 40,
        });
        // [ customer-scroll ] end

        $('#change-image').on('click', function (event) {
            $('#change-details-info').click();
            $('#Image').click();
        });
    </script>
    <script>
        $('#need-list-table').DataTable();
    </script>
}
