@model IEnumerable<RotaMe.Web.ViewModels.Administration.Users.UsersListViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/assets/css/plugins/dataTables.bootstrap4.min.css">
}

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5>User List</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">user</a></li>
                            <li class="breadcrumb-item"><a href="#!">User list</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card user-profile-list">
                    <div class="card-body">
                        <div class="dt-responsive table-responsive">
                            <table id="user-list-table" class="table nowrap">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Last Logged In</th>
                                        <th>Roles</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in Model.OrderByDescending(u => u.Roles.Count))
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-inline-block align-middle">
                                                    <img src="@user.Avatar" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                                                    <div class="d-inline-block">
                                                        <h6 class="m-b-0">@user.FirstName @user.LastName</h6>
                                                        <p class="m-b-0">@user.Email</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@user.GenderName</td>
                                            <td>61</td>
                                            <td>@user.LastLoggedIn.ToString("MM/dd/yyyy HH:mm")</td>
                                            <td>@String.Join(", ", user.Roles)</td>
                                            <td>
                                                @if (user.LockoutEnabled)
                                                {
                                                    <span class="badge badge-light-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-light-danger">Locked</span>
                                                }
                                            <div class="overlay-edit">
                                                <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"></i></button>
                                                <a href="/admin/users/details/@user.Id" class="btn btn-icon btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="/admin/users/delete/@user.Id" class="btn btn-icon btn-danger sweet-multiple-delete-user"><i class="feather icon-trash-2"></i></a>
                                            </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Last Logged In</th>
                                        <th>Roles</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/plugins/sweetalert.min.js"></script>
    <script src="~/assets/js/pages/ac-alert.js"></script>

    <script>
        $('#user-list-table').DataTable();
    </script>
}
