@model IEnumerable<RotaMe.Web.ViewModels.Administration.Roles.RolesListViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/assets/css/plugins/dataTables.bootstrap4.min.css">
}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Roles Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Roles</a></li>
                            <li class="breadcrumb-item"><a href="#!">Roles List</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- subscribe start -->
            @foreach (var role in Model.ToList())
            {
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fas @role.CardIcon text-c-blue d-block f-40"></i>
                            <h4 class="m-t-20 m-b-20"><span class="text-c-blue">@role.UsersCount</span> @role.Name</h4>
                            <button class="btn btn-primary btn-sm btn-round modal-report" data-title="Users" data-toggle="modal" data-target="#modal-report-@role.Name.ToLower()">View @role.Name</button>
                            @if (role.DeleteButton)
                            {
                                <a href="/admin/roles/delete/@role.Id" class="btn btn-danger btn-sm btn-round sweet-multiple-delete-role">Delete Role</a>
                            }
                        </div>
                        <div id="operation-chart"></div>
                    </div>
                </div>
            }
            <!-- subscribe end -->

        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
@foreach (var role in Model.ToList())
{
    <div class="modal fade" id="modal-report-@role.Name.ToLower()" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@role.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="report-table-@role.Name.ToLower()" class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>LastLoggedIn</th>
                                    <th>LockoutEnabled</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in role.Users)
                                {
                                    <tr>
                                        <td><img src="@user.Avatar" class="img-radius" width="30px" height="30px"></td>
                                        <td>@user.FirstName @user.LastName</td>
                                        <td>@user.Email</td>
                                        <td>@user.LastLoggedIn.ToString("MM/dd/yyyy HH:mm")</td>
                                        <td>@user.LockoutEnabled</td>
                                        <td>
                                            <a href="/admin/users/details/@user.Id" class="btn btn-info btn-sm">Details</a>
                                            <a href="/admin/users/delete/@user.Id" class="btn btn-danger btn-sm sweet-multiple-delete-user">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- [ Main Content ] end -->

@section Scripts{

    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/plugins/apexcharts.min.js"></script>
    <script src="~/assets/js/plugins/sweetalert.min.js"></script>
    <script src="~/assets/js/pages/ac-alert.js"></script>
    <!-- select2 Js -->
    <script src="~/assets/js/plugins/select2.full.min.js"></script>
    <!-- form-select-custom Js -->
    <script src="~/assets/js/pages/form-select-custom.js"></script>

    @*DataTable start*@
    @foreach (var role in Model.ToList())
    {
        var name = "#report-table-" + role.Name.ToLower();
        <script>
            $("@name").DataTable();
        </script>
    }
    @*DataTable end*@
}